/* Universal styles */
html {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

/* Header */
header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: white;
  height: 64px;
}

header .container {
  display: flex;
  align-items: center;
  padding: 16px 24px 16px 24px;
}

header .container .logo {
  display: flex;
  align-items: center;
  flex: 1;
}

#txt_colmar {
  font-weight: bold;
}

#txt_adademy {
  color: gray;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 16px;
}

nav a {
  padding: 5px 5px;
  border: 1px solid #C0C0C0;
  border-radius: 5px;
  transition: background-color 750ms ease-in 250ms;
}

nav a:hover {
  background-color: #DCDCDC;
}

#short-menu {
  display: none;
}

/* Banner */
.banner {
  position: relative;
  top: 4rem;
  background-color: #DCDCDC;
}

.banner .learn {
  display: flex;
}

.learn img {
  padding: 32px 24px;
  width: 60%;
  height: 100%;
}

.txt_banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.txt_banner h2 {
  padding-bottom: 4rem;
}

.txt_banner .button {
  background-color: #808080;
  border-radius: 5px;
  color: white;
  width: 80%;
  text-align: center;
  padding: 0.5rem 0;
  border: 1px solid #C0C0C0;
  transition: color 750ms ease-in 250ms,
              background-color 750ms ease-in 250ms;
}

.txt_banner .button:hover {
  background-color: #FFFFFF;
  color: black;
}

.txt_banner .button span {
  font-size: 1.5rem;
}

#txt_banner1 {
  font-size: 3.2rem;
  font-weight: bold;
  width: 80%;
}

#txt_banner2 {
  font-size: 2rem;
  width: 80%;
}

/* Practicing */
.main {
  position: relative;
  top: 4rem;
}

.main .practicing {
  display: flex;
}

.practicing .cont-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 32px 24px;
}

.practicing .cont-left img {
  height: 46%;
  padding-bottom: 2rem;
}

.practicing .cont-left h2 {
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 24px;
}

.practicing .cont-left h3 {
  font-size: 1.5rem;
  padding-bottom: 40px;
}

.practicing .cont-left h4 {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 32px;
}

.practicing .cont-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-right: 24px;
}

.practicing .cont-right img {
  width: 35%;
  height: 100%;
  margin: 16px 16px;
}

.practicing .cont-right h4 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.practicing .cont-right h5 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.practicing .cont-right h5 a {
  font-size: 1rem;
  color: #87CEEB;
}

.practicing .cont-right .txt_main1 {
  display: flex;
  margin-top: 16px;
}

.txt_main1 .orientation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.practicing .cont-right .txt_main2 {
  display: flex;
}

.txt_main2 .campus {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.practicing .cont-right .txt_main3 {
  display: flex;
  background-color: #C0C0C0;
}

.txt_main3 .guest_lecture {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Courses */
.courses {
  text-align: center;
  background-color: #DCDCDC;
}

.courses .start h1 {
  font-size: 3rem;
  font-weight: bold;
  padding-top: 32px;
}

.content-courses {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-flow: wrap;
  padding: 32px 72px;
}

.content-courses .course {
  width: 30%;
  background-color: white;
  margin-bottom: 32px;
}

.course img {
  max-width: 100%;
  max-height: 100%;
}

.course h2 {
  text-align: left;
  padding-left: 16px;
  padding-bottom: 0.5rem;;
}

.course_name {
  margin-top: 16px;
  font-weight: bold;
  font-size: 1.2rem;
}

.course_desc {
  font-size: 1.1rem;
}

/* Thesis */
.thesis {
  text-align: center;
  background-color: #FFFAFA;
}

.thesis h1 {
  font-size: 3rem;
  font-weight: bold;
  padding-top: 2rem;
}

.thesis-body {
  display: flex;
  padding: 32px 24px;
}

.thesis-body .thesis-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: left;

}

.thesis-left video {
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 24px;
}

.thesis-left h2 {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 8px;
}

.thesis-left h3 {
  font-size: 1.5rem;
  padding-bottom: 32px;
}

.thesis-right {
  padding-left: 24px;
}

.thesis-course {
  display: flex;
  text-align: left;
}

#thesis-course1 {
  background-color: #DCDCDC;
}

.thesis-course img {
  width: 35%;
  height: 100%;
  padding: 16px 16px;
}

.thesis-course .txt-thesis {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thesis-course h4 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.thesis-course h5 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

/* Footer */
footer {
  background-color: #FFFAFA;
  border-top: 1px solid #D3D3D3;
}

footer .content {
  display: flex;
  font-size: 1rem;
  padding: 16px 24px 48px 24px;
}

footer .copyright {
  flex-grow: 1;
}

#terms {
  padding-right: 8px;
}

@media only screen and (max-width: 480px) {
  header .container .logo {
    display: none;
  }

  nav {
    width: 100%;
  }

  #txt_colmar {
    display: none;
  }

  #txt_adademy {
    display: none;
  }

  #full-menu {
    display: none;
  }

  #short-menu {
    display: flex;
    justify-content: space-between;
  }

  nav a {
    border-style: none;
    transition-property: unset;
  }

/* Banner */
  .banner .learn {
    display: flex;
    flex-direction: column;
  }

  .learn img {
    padding: 0 0;
    width: 100%;
  }

  .txt_banner h2 {
    padding-left: 1rem;
    padding-top: 2rem;
    padding-bottom: 0;
  }

  #txt_banner1 {
    font-size: 2.4rem;
    font-weight: bold;
  }

  #txt_banner2 {
    font-size: 1.5rem;
  }

  .txt_banner .button  {
    width: 90%;
    margin: 1.5rem 1rem 2rem 1rem;
  }

/* Practicing */
  .practicing .cont-left {
    display: none;
  }

  .practicing .cont-right {
    width: 100%;
    padding: 0;
  }

  .practicing .cont-right .txt_main1 {
    flex-direction: column;
  }

  .practicing .cont-right .txt_main2 {
    flex-direction: column;
  }

  .practicing .cont-right .txt_main3 {
    flex-direction: column;
  }

  .practicing .cont-right img {
    width: 90%;
    height: 250px;
    margin: 16px 16px;
    padding: 0;
  }

  .practicing .cont-right h4 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-left: 2rem;
  }

  .practicing .cont-right h5 {
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
  }

/* Courses */
  .courses {
    position: relative;
    top: 4rem;
    background-color: #FFFFFF;
    border-top: 1px solid #DCDCDC;
  }

  .courses .start h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .course img, .course_txt, .course_desc {
    display: none;
  }

  .course .course_name {
    font-size: 1.5rem;
  }

  .content-courses {
    display: flex;
    flex-flow: nowrap;
    flex-direction: column;
    padding: 0;
  }

  .content-courses .course {
    background-color: #DCDCDC;
    margin: 0 1rem 0.5rem 1rem;
    padding: 1rem 0 1rem 1rem;
    width: 90%;
  }

  .thesis {
    position: relative;
    top: 4rem;
    border-top: 1px solid #DCDCDC;
  }

  .thesis h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .thesis-body {
    padding: 0;
  }

  .thesis .thesis-left {
    width: 100%;
  }

  .thesis .thesis-left video {
    width: 100%;
    height: 100%;
    padding: 0;
    margin-bottom: 2rem;
  }

  .thesis .thesis-left h2, h3 {
    display: none;
  }

  .thesis .thesis-right {
    display: none;
  }

/* Footer */
  footer {
    position: relative;
    top: 4rem;
  }

  #terms, #privacy {
    display: none;
  }

}
